# Environments
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/

# Note: The user explicitly requested to INCLUDE db.sqlite3 and ml_models/ in git
# so we are NOT ignoring them entirely.
# However, emotion_model.h5 is >100MB and fails to push to GitHub, so we must ignore it.
ml_models/emotion_model.h5
